<section class="flexEntrar animate__animated animate__fadeIn">
    <section class="divPrincipal">
        <span class="titulo">Bem-vindo ao GeekSpot</span>

        <div class="divLogin margem1">
            <ng-container *ngIf="isExibirDivEmail">
                <div class="animate__animated animate__fadeIn">
                    <form [formGroup]="form">
                        <input class="input" type="text" placeholder="E-mail ou nome de usuário" autoComplete="off"
                            formControlName="nomeUsuario" (keydown.enter)="handleEntrar()" #inputUsuario />

                        <input class="input margem0_5" type="password" placeholder="Senha" autoComplete="new-password"
                            formControlName="senha" (keydown.enter)="handleEntrar()" #inputSenha />

                        <div class="margem0_5">
                            <app-botao [texto]="'Entrar'" [url]="null" [isNovaAba]="false"
                                (handleFuncao)="handleEntrar()" [isEnabled]="true" [cor]="null" [corFonte]="null">
                            </app-botao>
                        </div>
                    </form>

                    <div class="divOpcoesFlex margem0_5">
                        <span></span>

                        <span class="cor-principal pointer">
                            Esqueci minha senha
                        </span>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!isExibirDivEmail">
                <div>
                    <app-botao [texto]="'Entrar com e-mail ou usuário'" [url]="null" [isNovaAba]="false"
                        (handleFuncao)="handleExibirDivEmail()" [isEnabled]="true" [cor]="null" [corFonte]="null">
                    </app-botao>
                </div>
            </ng-container>

            <div class="margem1_5">
                <div class="divisao">ou</div>
                <div class="margem1">
                    <app-botao [texto]="'Continuar com o Facebook'" [url]="null" [isNovaAba]="false"
                        (handleFuncao)="null" [isEnabled]="true" [cor]="'var(--cor-principal-opaca)'"
                        [corFonte]="'var(--preto)'">
                    </app-botao>
                </div>

                <div class="margem0_5">
                    <app-botao [texto]="'Continuar com o Google'" [url]="null" [isNovaAba]="false" (handleFuncao)="null"
                        [isEnabled]="true" [cor]="'var(--cor-principal-opaca)'" [corFonte]="'var(--preto)'">
                    </app-botao>
                </div>
            </div>

            <div class="margem1_5">
                <div class="divisao">ou, não tem uma conta ainda?</div>
                <div class="margem1">
                    <app-botao [texto]="'Criar uma conta'" [url]="urlCriarConta" [isNovaAba]="false"
                        (handleFuncao)="null" [isEnabled]="true" [cor]="'var(--cor-principal-opaca)'"
                        [corFonte]="'var(--preto)'">
                    </app-botao>
                </div>
            </div>
        </div>
    </section>
</section>