<footer class="footer">
    <div class="principal">
        <div class="sessao">
            <span class="tituloSessao">GeekSpot</span>

            <a href="https://github.com/junioranheu/geek-spot-angular" target="_blank">Sobre</a>
            <a routerLink="{{urlTelaIndisponivel}}">Blog</a>
            <a routerLink="{{urlTelaIndisponivel}}">Facebook</a>
            <a routerLink="{{urlTelaIndisponivel}}">Instagram</a>
            <a routerLink="{{urlTelaIndisponivel}}">GeekSpot Pro<span class="efeito-new">Novo</span></a>
            <a routerLink="{{urlTelaIndisponivel}}">Usuário</a>

            <a *ngIf="isAuth" routerLink="{{urlTelaIndisponivel}}">Configurações</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Seja membro</span>

            <a routerLink="{{urlTelaIndisponivel}}">Usuário</a>
            <a routerLink="{{urlTelaIndisponivel}}">Loja</a>
            <a routerLink="{{urlTelaIndisponivel}}">Investidor</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Plataformas</span>

            <a routerLink="{{urlTelaIndisponivel}}">Web</a>
            <a routerLink="{{urlTelaIndisponivel}}">iOS<span class="efeito-new">em breve</span></a>
            <a routerLink="{{urlTelaIndisponivel}}">Android<span class="efeito-new">em breve</span></a>
            <a routerLink="{{urlTelaIndisponivel}}">macOS</a>
            <a routerLink="{{urlTelaIndisponivel}}">Windows</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Sobre</span>

            <a routerLink="{{urlTelaIndisponivel}}">Termos de uso</a>
            <a routerLink="{{urlTelaIndisponivel}}">Comunidade</a>
            <a routerLink="{{urlTelaIndisponivel}}">Carreiras</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Suporte</span>

            <a routerLink="{{urlTelaIndisponivel}}">Ajuda</a>
            <a routerLink="{{urlTelaIndisponivel}}">Trocas</a>
            <a routerLink="{{urlTelaIndisponivel}}">Compras</a>
            <a routerLink="{{urlTelaIndisponivel}}">Vendas</a>
            <a routerLink="{{urlTelaIndisponivel}}">Contato</a>
        </div>
    </div>

    <div class="secundaria">
        <div>
            <span>
                Copyright © {{dataAtual | date:'yyyy'}} — GeekSpot — desenvolvido por

                <a href="https://github.com/junioranheu" target="_blank" class="cor-principal-hover">@junioranheu</a> — primeiro contato com o framework Angular 🤠
            </span>
        </div>

        <div class="direita">
            <div class="icones">
                <span title="GitHub">
                    <fa-icon [icon]="faGithub" class="pointer cor-principal-hover" size="lg"
                        (click)="handleRedirecionarIconeGitHub()"></fa-icon>
                </span>

                <span title="Instagram">
                    <fa-icon [icon]="faInstagram" class="pointer cor-principal-hover" size="lg"
                        (click)="handleRedirecionarIconeInstagram()"></fa-icon>
                </span>
            </div>
        </div>
    </div>
</footer>