<footer class="footer">
    <div class="principal">
        <div class="sessao">
            <span class="tituloSessao">GeekSpot</span>

            <a routerLink="/">Sobre</a>
            <a routerLink="/">Blog</a>
            <a routerLink="/">Facebook</a>
            <a routerLink="/">Instagram</a>
            <a routerLink="/">GeekSpot Pro<span class="efeito-new">Novo</span></a>
            <a routerLink="/">Usuário</a>

            <a *ngIf="isAuth" routerLink="/">Configurações</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Seja membro</span>

            <a routerLink="/">Usuário</a>
            <a routerLink="/">Loja</a>
            <a routerLink="/">Investidor</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Plataformas</span>

            <a routerLink="/">Web</a>
            <a routerLink="/">iOS<span class="efeito-new">em breve</span></a>
            <a routerLink="/">Android<span class="efeito-new">em breve</span></a>
            <a routerLink="/">macOS</a>
            <a routerLink="/">Windows</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Sobre</span>

            <a routerLink="/">Termos de uso</a>
            <a routerLink="/">Comunidade</a>
            <a routerLink="/">Carreiras</a>
        </div>

        <div class="sessao">
            <span class="tituloSessao">Suporte</span>

            <a routerLink="/">Ajuda</a>
            <a routerLink="/">Trocas</a>
            <a routerLink="/">Compras</a>
            <a routerLink="/">Vendas</a>
            <a routerLink="/">Contato</a>
        </div>
    </div>

    <div class="secundaria">
        <div>
            <span>
                Copyright © {{dataAtual | date:'yyyy'}} — GeekSpot — desenvolvido por

                <a href="https://github.com/junioranheu" target="_blank" class="cor-principal-hover">@junioranheu</a> a
                fim de estudos no framework Angular
            </span>
        </div>

        <div class="direita">
            <div class="icones">
                <span title="GitHub">
                    <fa-icon [icon]="faGithub" class="pointer cor-principal-hover" size="lg"
                        (click)="handleRedirecionarIconeGitHub()"></fa-icon>
                </span>

                <span title="Instagram">
                    <fa-icon [icon]="faInstagram" class="pointer cor-principal-hover" size="lg"
                        (click)="handleRedirecionarIconeInstagram()"></fa-icon>
                </span>
            </div>
        </div>
    </div>
</footer>