<div class='modal divAtalhos'>
    <div class='divOpcoes margem0_5'>
        <!-- <MenuUsuarioOpcoes isMeuPerfilBotao={false} urlPerfil={urlPerfil} /> -->
    </div>

    <div class='divisao margem1'>ou</div>

    <!-- {
        isAuth ? (
            <div class={Styles.sessaoBotoes}>
                <div class={Styles.botaoPadrao}>
                    <Botao texto={`Sair do ${CONSTS_SISTEMA.NOME_SISTEMA}`} url={null} isNovaAba={false} handleFuncao={() => deslogar(setIsAuth)} Svg={null} refBtn={null} isEnabled={true} />
                </div>
            </div>
        ) : (
            <div class={Styles.sessaoBotoes}>
                <div class='divBotaoInvertido'>
                    <Botao texto='Crie sua conta' url='/usuario/criar-conta' isNovaAba={false} handleFuncao={() => null} Svg={null} refBtn={null} isEnabled={true} />
                </div>

                <div class={Styles.botaoPadrao}>
                    <Botao texto='Entrar agora' url='/usuario/entrar' isNovaAba={false} handleFuncao={() => null} Svg={null} refBtn={null} isEnabled={true} />
                </div>
            </div>
        )
    } -->
</div>
