<nav class="navbar">
    <div class="wrapper">
        <div class="divEsquerda">
            <a routerLink="{{urlIndex}}">
                <app-svg-logo></app-svg-logo>
            </a>

            <app-navbar-filtro></app-navbar-filtro>
        </div>

        <div class="divDireita">
            <a (click)="handleModalNavbarMobile()">
                <app-svg-hamburguer></app-svg-hamburguer>
            </a>
        </div>
    </div>
</nav>
 
<ng-container *ngIf="isModalNavbarMobileOpen">
    <app-modal-navbar-mobile (handleModal)="handleModalNavbarMobile()"></app-modal-navbar-mobile>
</ng-container>