<nav class="navbar">
    <div class="wrapper">
        <div class="divEsquerda">
            <a routerLink="{{urlIndex}}">
                <app-svg-logo></app-svg-logo>
            </a>

            <app-navbar-filtro></app-navbar-filtro>
        </div>

        <div class="divDireita">
            <a (click)="toggle()">
                <app-svg-hamburguer></app-svg-hamburguer>
            </a>
        </div>
    </div>
</nav>

<ng-container *ngIf="mostrar">
    <app-modal-navbar-mobile></app-modal-navbar-mobile>
    <div (click)="toggle()" class="overlay"></div>
</ng-container>