<nav class="navbar">
    <div class="wrapper">
        <div class="divEsquerda">
            <a routerLink="{{urlIndex}}">
                <app-svg-logo></app-svg-logo>
            </a>

            <app-navbar-filtro></app-navbar-filtro>
        </div>

        <div class="divDireita">
            <a routerLink="/" class="efeitoBottom">Produtos</a>
            <a routerLink="/" class="efeitoBottom">Produtos</a>

            <span class="separador"></span>

            <app-svg-ajuda [url]="urlAjuda"></app-svg-ajuda>

            <!-- {
                isAuth && (
                    <Fragment>
                        <Inbox width={24} url="/xxx" title="Acessar inbox para visualizar suas mensagens" isCorPrincipal={false} />
                    </Fragment>
                )
            }

            {
                isAuth && (
                    <NavbarPadraoMenuUsuario
                        isExibirMenuUsuario={isExibirMenuUsuario}
                        setIsExibirMenuUsuario={setIsExibirMenuUsuario}
                        debounceFecharMenuUsuario={debounceFecharMenuUsuario}
                    />
                )
            }

            {
                isAuth ? (
                    <Fragment>
                        <span class="separador"></span>

                        <div onClick={() => deslogar(setIsAuth)}>
                            <Botao texto="Sair" url={null} isNovaAba={false} handleFuncao={() => null} Svg={null} refBtn={null} isEnabled={true} />
                        </div>
                    </Fragment>
                ) : (
                    <Fragment>
                        <span class="separador"></span>
                        <Botao texto="Entrar agora mesmo" url="/usuario/entrar" isNovaAba={false} handleFuncao={() => null} Svg={null} refBtn={null} isEnabled={true} />
                    </Fragment>
                )
            } -->

            <span class="separador"></span>

            <app-botao [texto]="'Entrar agora mesmo'" [url]="urlEntrar" [isNovaAba]="false" (handleFuncao)="null"
                [isEnabled]="true"></app-botao>
        </div>
    </div>
</nav>