<section class="paddingPadrao animate__animated animate__fadeIn">
    <span class="titulo">Página inicial</span>
    <br />
    <span class="texto">{{this.isAuth ? "Você está logado" : "Você NÃO está logado"}}</span>

    <hr />
    <drag-scroll style="width: 50%; height: fit-content;">
        <div *ngFor="let item of listaItens; let i = index" class="teste">
            <div *ngFor="let itemInterno of item">
                {{itemInterno.nome}}
            </div>
        </div>
    </drag-scroll>
</section>